body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1f1f1f;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;             /* Beyaz yaptım */
  text-decoration: none;
  margin: 0 15px;
  font-weight: 600;
  font-size: 1rem;
  display: inline-block;
}

nav a:hover {
  color: #e50914;           /* Hover'da kırmızı */
}

main {
  padding: 30px;
}

.film-card {
  background-color: #1e1e1e;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(229, 9, 20, 0.2);
}

.film-card h2 {
  color: #e50914;
  margin-bottom: 10px;
}

.film-card p {
  margin-bottom: 10px;
}

.film-card span {
  font-weight: bold;
  color: #ccc;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1f1f1f;
  color: #aaa;
}
